<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.extrace.ui">
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- unavailable in API 23 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- //允许sd卡写权限，需写入地图数据，禁用后无法显示地图 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- //允许sd卡读权限，需读取地图数据，禁用后无法显示地图 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- provider的权限 -->
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 打电话 -->
    <!-- SD卡读取权限，用于写入对象存储BOS数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 用于加快GPS首次定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:name=".service.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.AddPackageActivity"></activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".main.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DIsYWqBBnHoqit6kP0Rs4rGArbNXfb7A" /> <!-- 在Application标签中声明定位的service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".main.PageContentActivity" />
        <activity
            android:name=".main.CallActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_customer_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.SendExpressActivity"
            android:label="包裹打包| 发往下一网点" />
        <activity
            android:name=".main.NodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_node_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.MyParcelActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/action_my_package"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".main.MyInfoActivity" />
        <activity
            android:name=".main.CustomerInfoDetailActivity"
            android:label="@string/title_activity_customer_edit" />
        <activity
            android:name=".main.CustomerManageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_customer_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".main.MyMessageActivity" />
        <activity android:name=".main.MyLocationActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".main.ExpressSearchActivity" />
        <activity android:name=".main.HistoryScanActivity" />
        <activity
            android:name=".main.ScanBarcodeActivity"
            android:label="@string/scan_gun"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.CustomerEditActivity"
            android:label="@string/tab_bar_customer"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.ExpressEditActivity"
            android:configChanges="orientation"
            android:label="@string/action_edit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.extrace.util.EasyCaptureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.extrace.util.CustomCaptureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
    </application>

</manifest>